<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title - Aarstiderne</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/site.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        @Scripts.Render("~/bundles/jqueryui")
        <script src="/Scripts/jquery.validate.min.js"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="/assets/js/recipeadmin.min.js"></script>
    </head>
    <body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="snap-drawers">
        <div class="snap-drawer snap-drawer-left">
            <div class="js-remember">
                <p>Vælg kasse, variant og ugenummer</p>
            </div>
            <div class="ingredient-list-details js-title-details">
                <h2>
                    <span class="js-title"></span>,
                    <span class="js-week"></span>
                </h2>
                <h3>
                    <span class="js-subtitle"></span>
                </h3>
                <h4>
                    Dag 3
                </h4>
            </div>
            <div class="ingredient-list-bom js-bom">
                <h3>Stykliste</h3>
                <ul>
                    
                </ul>
            </div>
            <div class="ingredient-list-days js-list-days">
                <h3>Alle dage</h3>
                <div class="day">
                    <a href="#">1: Gulerødder med knoldselleri</a>
                    <ul>
                        <li>1 frisk gedeost med ramsløg</li>
                        <li>olie</li>
                        <li>eddike</li>
                        <li>300 g perlebyg</li>
                        <li>salt og peber</li>
                        <li>200 g champignon</li>
                        <li>2 skalotteløg</li>
                        <li>500 g gulerødder</li>
                    </ul>
                </div>
                <div class="day">
                    <a href="#">2: Asparges med rabarberkompot og syltede kartofler med grisetæer</a>
                    <ul>
                        <li>1 frisk gedeost med ramsløg</li>
                        <li>olie</li>
                        <li>eddike</li>
                        <li>300 g perlebyg</li>
                        <li>salt og peber</li>
                        <li>200 g champignon</li>
                        <li>2 skalotteløg</li>
                        <li>500 g gulerødder</li>
                    </ul>
                </div>
                <div class="day">
                    <a href="#">3: Gulerødder med knoldselleri</a>
                    <ul>
                        <li>1 frisk gedeost med ramsløg</li>
                        <li>olie</li>
                        <li>eddike</li>
                        <li>300 g perlebyg</li>
                        <li>salt og peber</li>
                        <li>200 g champignon</li>
                        <li>2 skalotteløg</li>
                        <li>500 g gulerødder</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="snap-content" id="snap">
        <div class="container">
            <!-- 1st level menu -->
            <div class="navbar">
                <div class="overview-toggle">
                    <a class="btn btn-warning">Vis ingrediensoversigten (ctrl + q)</a>
                </div>
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">Aarstidernes Opskrifter</a>

                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <ul class="nav">
                                <li class="parent recipe"><a href="/recipe/mealboxsearch">Opskrifter</a></li>
                                <li class="parent encyclopedia"><a href="/encyclopedia">Leksikon</a></li>
                                <li class="parent type"><a href="/type">Typer</a></li>
                                <li class="parent userimages"><a href="/userimages/approve">Brugerbilleder</a></li>
                                <li class="parent mealbox"><a href="/mealbox">Eksporter måltidskasser</a></li>
                            </ul>
                        }
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <!-- 2nd level menu, recipies -->
                <li class="recipe mealboxsearch"><a href="/recipe/mealboxsearch">SÃ¸g i opskrifter</a></li>
                <li class="recipe edit"><a href="/recipe/edit">Opret opskrift</a></li>

                <!-- 2nd level menu, encyclopedia -->
                <li class="encyclopedia root"><a href="/encyclopedia">SÃ¸g og redigÃ©r</a></li>
                <li class="encyclopedia edit"><a href="/encyclopedia/edit">Opret opslag</a></li>

                <!-- 2nd level menu, types -->
                <li class="type root"><a href="/type">OpsÃ¦tning af typer</a></li>

                <!-- 2nd level menu, images -->
                <li class="userimages approve"><a href="/userimages/approve">Godkend billeder</a></li>
                <li class="userimages root"><a href="/userimages">Vis alle billeder</a></li>

                <!-- 2nd level menu, mealbox -->
                <li class="mealbox root"><a href="/mealbox">EksportÃ©r</a></li>
            </ul>

            <div class="js-alert-error js-alert alert alert-error">
                <button type="button" class="close">Ã—</button>
                <h4>BemÃ¦rk</h4>
                Enten har du ikke Ã¦ndret noget, eller ogsÃ¥ er der sket en fejl og din Ã¦ndring er ikke blevet gemt!
            </div>

            <div class="js-alert-success js-alert alert alert-success">
                <button type="button" class="close">Ã—</button>
                <h4>Hurra</h4>Din Ã¦ndring er blevet gemt.
            </div>

        </div>

        <div class="container">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
