﻿@model Aarstiderne.Recipe.WebSite.Infrastructure.Mapping.ViewModels.Encyclopedia.EncyclopediaViewModel

@{
    ViewBag.Title = "Opret / rediger leksikonopslag";
    ViewBag.SaveButtonText = "Gem leksikonopslag";

    var hasSeasons = Model.Seasons == null || !Model.Seasons.Any() ? "display:none;" : null;
    var hasIngredients = Model.Ingredients == null || !Model.Ingredients.Any() ? "display:none;" : null;
    var hasItemNumbers = Model.ItemNumbers == null || !Model.ItemNumbers.Any() ? "display:none;" : null;
}

    <script>
        $(document).ready(function() {
            $('#ingredientTextBox').autocomplete({
                source: '@Url.Action("Autocomplete", "Ingredient")'
            });
        

            $('.itemno-add').click(function () {

                console.log('itemno-add');

                // Get item number to add.
                var itemNo = $('#itemno-textbox').val();
                
                // Build new table row including hidden input.
                var newRow = '<tr><td><span class="itemno ng-binding">' + itemNo + '</span><input id="ItemNumbers_0__ItemNo" name="ItemNumbers[0].ItemNo" type="hidden" value="' + itemNo + '"></td><td><a class="btn center pull-right btn-danger btn-mini" ng-click="deleteItemNo($index)">X</a></td></tr>';
                
                // Add the new table row.
                $('#itemno-table tbody').append(newRow).trigger('change');
                
                // Realign hidden collection.
                recipe.util.realignHiddenArray($('#itemno-table tbody input[type=hidden'));
            });

        });
        
    </script>
    

@using (Html.BeginForm("Edit", "Encyclopedia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "error" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UrlName)

    <div class="container encyclopedia createedit">
        <div class="row">
            <div class="span12">
                <h3>@ViewBag.Title</h3>
                <input type="submit" class="btn btn-primary" value="@ViewBag.SaveButtonText" />
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="span6">
                <h5>Opslaget</h5>
                <label>Titel</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "input-block-level", required = "required" })
                <label>Undertitel</label>
                @Html.TextBoxFor(model => model.Name2, new { @class = "input-block-level", required = "required" })
                <label>Tekst</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "input-block-level", rows = "20" })
            </div>

            <!-- Ingredienskolonne -->
            <div class="span3">

                <div ng-form="formEncyclopediaIngredients" class="ng-pristine ng-invalid ng-invalid-required">
                    <h5>Relaterede ingredienser</h5>
                    <label>Vælg ingrediens</label>
                    <input id="ingredientTextBox" placeholder="Ingrediens" type="text" class="input-block-level ng-pristine ng-invalid ng-invalid-required" typeahead="ingredient for ingredient in objIngredients | filter:$viewValue | limitTo:2">
                    <ul class="typeahead dropdown-menu" matches="matches" active="activeIdx" select="select(activeIdx)" query="query" position="position" style="display: none;">
                        <!-- ngRepeat: match in matches -->
                    </ul>

                    <input type="button" class="btn btn-inverse" value="Tilføj">
                </div>

                <hr>

                <p>Tilføj relaterede ingredienser til leksikonopslaget ovenfor.</p>
                <table class="table table-striped table-condensed" style="@hasIngredients">
                    <thead>
                        <tr>
                            <th>Ingrediensliste</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ui-sortable="" class="ui-sortable">
                        @if (Model.Ingredients != null)
                        {
                            for (int i = 0; i < Model.Ingredients.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Ingredients[i].Name</td>
                                    <td>
                                        @Html.HiddenFor(x => Model.Ingredients[i].Id)
                                        @Html.HiddenFor(x => Model.Ingredients[i].Name)
                                        <a class="btn center pull-right btn-danger btn-mini">X</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <hr>

                <div class="ng-pristine ng-invalid ng-invalid-required itemno-form">
                    <h5>Relaterede varenumre</h5>
                    <label>Vælg varenumre</label>
                    <input id="itemno-textbox" placeholder="Varenummer" type="text" class="input-block-level ng-pristine ng-invalid ng-invalid-required" typeahead="itemNo for itemNo in objItemNo | filter:$viewValue | limitTo:5" typeahead-editable="false">
                    <ul class="typeahead dropdown-menu" style="display: none;">
                    <!-- ngRepeat: match in matches -->
                    </ul>

                    <input type="button" class="btn btn-inverse itemno-add" value="Tilføj">
                </div>

                <hr>

                <p style="display: none;">Tilføj relaterede varenumre til leksikonopslaget ovenfor.</p>
                <table id="itemno-table" class="table table-striped table-condensed" style="@hasItemNumbers">
                    <thead>
                        <tr>
                            <th>Relaterede varenumre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ui-sortable="" class="ui-sortable">
                        @if (Model.ItemNumbers != null)
                        {
                            for (int i = 0; i < Model.ItemNumbers.Count; i++)
                            {
                                <tr>
                                    <td><span class="itemno ng-binding">@Model.ItemNumbers[i].ItemNo</span>
                                        @Html.HiddenFor(x => Model.ItemNumbers[i].ItemNo)
                                    </td>
                                    <td><a class="btn center pull-right btn-danger btn-mini" ng-click="deleteItemNo($index)">X</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>


            <div class="span3">
                <div ng-form="formEncyclopediaSeason" class="ng-pristine ng-valid">
                    <h5>Sæson</h5>
                    <label>Angiv startdato</label>
                    <input placeholder="ddmm" type="text" ng-maxlength="4" class="input-block-level ng-pristine ng-valid ng-valid-maxlength" ng-model="selectedSeason.begin">
                    <label>Angiv slutdato</label>
                    <input placeholder="ddmm" type="text" ng-maxlength="4" class="input-block-level ng-pristine ng-valid ng-valid-maxlength" ng-model="selectedSeason.end">
                    <input type="button" class="btn btn-inverse season-add" value="Tilføj">
                </div>

                <hr>

                <p>Tilføj sæsoner til leksikonopslaget ved at vælge datoer ovenfor.</p>
                <table class="table table-striped table-condensed" style="@hasSeasons">
                    <thead>
                        <tr>
                            <th colspan="2">Sæsonoversigt</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ui-sortable="" class="ui-sortable">
                        @if (Model.Seasons != null)
                        {
                            for (int i = 0; i < Model.Seasons.Count; i++)
                            {
                                <tr>
                                   <td>@Model.Seasons[i].StartDate.ToString("dd-MM")</td>
                                   <td>@Model.Seasons[i].EndDate.ToString("dd-MM")</td>
                                    <td>
                                        @Html.HiddenFor(x => x.Seasons[i].Id)
                                        @Html.HiddenFor(x => x.Seasons[i].StartDate)
                                        @Html.HiddenFor(x => x.Seasons[i].EndDate)

                                        <a class="btn center pull-right btn-danger btn-mini">X</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <hr>

        <!-- Image row -->
        <div class="row">
            <div class="span6">
                <h5>Upload billede</h5>
                <div class="row">
                    <div class="span4 wFileUpload">
                        <input id="file" name="file" type="file" class="input-block-level btn btn-inverse ng-isolate-scope ng-scope" accept="image/*" />
                        <a class="btn btn-inverse input-block-level">Vælg billede</a>
                        <p class="ng-binding"></p>
                    </div>
                </div>
            </div>

            <div class="span6">
                @if (Model != null)
                {
                    <img src="/images/570/300/@Model.Id.ToString("N")" class="input-block-level ng-pristine ng-valid" />
                }
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <input type="submit" class="btn btn-primary" value="@ViewBag.SaveButtonText" />
            </div>
        </div>

    </div>
}    