﻿@model Aarstiderne.Recipe.Common.DTO.Encyclopedia.EncyclopediaDTO
@{
    ViewBag.Title = "Opret / rediger leksikonopslag";
    ViewBag.SaveButtonText = "Gem leksikonopslag";
}

@using (Html.BeginForm("Edit", "Encyclopedia", System.Web.Mvc.FormMethod.Post, new { @class = "encyclopedia", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "error" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UrlName)

    <div class="container encyclopedia createedit">
        <div class="row">
            <div class="span12">
                <h3>@ViewBag.Title</h3>
                <input type="submit" class="btn btn-primary js-encyclopedia-save" value="@ViewBag.SaveButtonText" />
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="span6">
                <h5>Opslaget</h5>
                <label>Titel</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "input-block-level", required = "required" })
                <label>Undertitel</label>
                @Html.TextBoxFor(model => model.Name2, new { @class = "input-block-level", required = "required" })
                <label>Tekst</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "input-block-level textarea", rows = "20" })
            </div>

            <!-- Ingredienskolonne -->
            <div class="span3">

                <h5>Relaterede ingredienser</h5>
                <label>Vælg ingrediens <small>(<a href="/type" target="_blank">Mangler ingrediensen?</a>)</small></label>
                <input placeholder="Ingrediens" type="text" class="input-block-level js-encyclopedia-ingredients-search">

                <input type="button" class="btn btn-inverse js-encyclopedia-ingredients-add" value="Tilføj">

                <hr>

                <table class="js-encyclopedia-ingredients-list table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Ingrediensliste</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Ingredients != null)
                        {
                            for (int i = 0; i < Model.Ingredients.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.Ingredients.ElementAt(i).Name</td>
                                    <td>
                                        @Html.Hidden("Ingredients[" + i + "].Id", Model.Ingredients.ElementAt(i).Id)
                                        @Html.Hidden("Ingredients[" + i + "].Name", Model.Ingredients.ElementAt(i).Name)
                                        <a class="btn center pull-right btn-danger btn-mini js-remove">X</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <hr>

                <div class="itemno-form">
                    <h5>Relaterede varenumre</h5>
                    <label>Vælg varenumre</label>
                    <input placeholder="Varenummer" type="text" class="input-block-level js-encyclopedia-itemno-input">

                    <input type="button" class="btn btn-inverse js-encyclopedia-itemno-add" value="Tilføj">
                </div>

                <hr>

                <table class="js-encyclopedia-itemno-list table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Relaterede varenumre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ItemNumbers != null)
                        {
                            for (int i = 0; i < Model.ItemNumbers.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.ItemNumbers.ElementAt(i).ItemNo
                                        @Html.Hidden("ItemNumbers[" + i + "].ItemNo", Model.ItemNumbers.ElementAt(i).ItemNo)
                                    </td>
                                    <td><a class="btn center pull-right btn-danger btn-mini js-remove">X</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>


            <div class="span3">
                <h5>Sæson</h5>
                <label>Angiv startdato og slutdato</label>
                <input placeholder="ddmm-ddmm" type="text" class="input-block-level js-encyclopedia-season-input">
                <input type="button" class="btn btn-inverse js-encyclopedia-season-add" value="Tilføj">

                <hr>

                <table class="js-encyclopedia-season-list table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Sæsonoversigt</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Seasons != null)
                        {
                            for (int i = 0; i < Model.Seasons.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.Seasons.ElementAt(i).StartDate.ToString("ddMM")-@Model.Seasons.ElementAt(i).EndDate.ToString("ddMM")
                                </td>
                                    <td>
                                        @Html.Hidden("Seasons[" + i + "].Id", Model.Seasons.ElementAt(i).Id)
                                        @Html.Hidden("Seasons[" + i + "].StartDate", Model.Seasons.ElementAt(i).StartDate)
                                        @Html.Hidden("Seasons[" + i + "].EndDate", Model.Seasons.ElementAt(i).EndDate)
                                        <a class="btn center pull-right btn-danger btn-mini js-remove">X</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <hr>
                <h5>Tags</h5>
                <label>Angiv tags <small>(<a href="/type" target="_blank">Mangler tagget?</a>)</small></label>
                <input placeholder="Tag" type="text" class="input-block-level js-encyclopedia-tag-input">
                <input type="button" class="btn btn-inverse js-encyclopedia-tag-add" value="Tilføj">

                <hr>
                <table class="js-encyclopedia-tags-list table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Tagliste</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Tags != null)
                        {
                            for (int i = 0; i < Model.Tags.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.Tags.ElementAt(i).Name</td>
                                    <td>
                                        @Html.Hidden("Tags[" + i + "].Id", Model.Tags.ElementAt(i).Id)
                                        @Html.Hidden("Tags[" + i + "].Name", Model.Tags.ElementAt(i).Name)
                                        <a class="btn center pull-right btn-danger btn-mini js-remove">X</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>

        </div>

        <hr>

        <!-- Image row -->
        <div class="row">

            <div class="span6">
                <h5>Upload billede</h5>
                <div class="row">
                    <div class="span4 wFileUpload">
                        <input type="file" name="file" id="file" class="span3 js-encyclopedia-fileupload" accept="image/x-png, image/gif, image/jpeg" />
                    </div>
                </div>
            </div>

            <div class="span6">
                <img src="/images/encyclopedia/@Model.Id.ToString("N")-570-300" class="js-encyclopedia-image" />
            </div>

        </div>

        <div class="row">
            <div class="span12">
                <input type="submit" class="btn btn-primary js-encyclopedia-save" value="@ViewBag.SaveButtonText" />
            </div>
        </div>

    </div>
}