﻿@model Aarstiderne.Recipe.Common.DTO.Encyclopedia.SearchEncyclopediaDTO[]
@{
    ViewBag.Title = "Søg i leksikon";
}

<div class="container">
    <div>
        <div class="row">
            <div class="span12">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>

        <hr>

        <div class="row">
            @using (Html.BeginForm())
            {
                <div class="span4">
                    <h5>Fritekst</h5>
                    @Html.TextBox("searchText", (string)@ViewBag.SearchText, new { @class = "input-block-level", @placeholder="Indtast dit søgeord og tryk søg"})
                </div>
                <div class="span4">
                    <h5>&nbsp;</h5>
                    <button type="submit" class="btn btn-primary input-small">Søg</button>
                </div>
            }

            <!-- Result -->
            @if (Model != null)
            {
            <div class="span12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                @Html.ActionLink("Slet", "Delete", new { url = item.UrlName }, new { @class = "js-encyclopedia-delete btn pull-right btn-danger btn-mini" })
                                @Html.ActionLink("Redigér", "Edit", new { url = item.UrlName }, new { @class = "js-encyclopedia-edit btn pull-right btn-info btn-mini" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>
</div>