﻿@{
    ViewBag.Title = "Aarstiderne Opskrifter";
}

@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="span12">
            @using (Html.BeginForm("Authenticate", "Account", System.Web.Mvc.FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.AntiForgeryToken()

                <fieldset>
                    <div id="legend">
                        <legend class="">Log ind</legend>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Brugernavn</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Adgangskode</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Log ind</button>
                            <p>&nbsp;</p>
                            @TempData["AuthenticationStatus"]
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
}
else
{
    <meta http-equiv="refresh" content="0;url=/recipe/mealboxsearch">
}