﻿@model Aarstiderne.Recipe.Common.DTO.MealBox.ItemDTO
@{
    Layout = null;

    var dayCount = 0;
    var daysToRender = Model.MealNumberOfDeays.HasValue ? Model.MealNumberOfDeays.Value : 0;
}

@if (Model != null)
{
    <h1>@Model.Name</h1>
    <h3>@Model.Name2</h3>
    <h4>Uge @ViewBag.MealBoxWeekNo</h4>

    if (Model.MealBox != null)
    { 
        foreach (var mealbox in Model.MealBox)
        {
            dayCount++;

            if (dayCount <= daysToRender)
            {
                <h3>Dag @mealbox.MealBoxDay</h3>
                <div>@mealbox.Name</div>
    
                if (mealbox.Ingredients != null)
                {
                    <br />

                    foreach (var ingredient in mealbox.Ingredients)
                        {
                            @ingredient.Amount@: 
                            @ingredient.Unit@: 
                            @ingredient.Name

                            if (!string.IsNullOrEmpty(ingredient.Note))
                            {
                                @:(@ingredient.Note)
                            }
                            <br />
                        }
                }

                <br />
        
                @Html.Raw(mealbox.Description == null ? null : mealbox.Description.Replace("\n", "<br />"))
            }
        }

        <h3>Stykliste</h3>
        
        if (Model != null && Model.Bom != null)
        {
            for (int i = 0; i < Model.Bom.Count(); i++)
            {
                var bom = Model.Bom.ElementAt(i);
                
                @(bom.Quantity % 1 == 0 ? bom.Quantity.ToString("N0") : bom.Quantity.ToString("N2")) @:
                @bom.UnitCode @:
                @bom.Name

                if (!string.IsNullOrEmpty(bom.VendorName))
                {
                    @: @bom.VendorName
                }

                if (!string.IsNullOrEmpty(bom.CountryOfOrigin))
                {
                    @: @bom.CountryOfOrigin
                }
                
                if (i + 1 < Model.Bom.Count())
                {
                    @Html.Raw(", ")
                }
            }
        }
    }
}