﻿@model Aarstiderne.Recipe.Common.DTO.MealBox.ItemDTO
@{
    Layout = null;

    var dayCount = 0;
    var daysToRender = Model.MealNumberOfDeays.HasValue ? Model.MealNumberOfDeays.Value : 0;
}

<html xmlns:o='urn:schemas-microsoft-com:office:office'
      xmlns:w='urn:schemas-microsoft-com:office:word'
      xmlns='http://www.w3.org/TR/REC-html40'>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"></meta>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:View>Print</w:View>
      <w:Zoom>90</w:Zoom>
    </w:WordDocument>
    </xml><![endif]-->


    <style>
        p.MsoFooter, li.MsoFooter, div.MsoFooter {
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            tab-stops: center 3.0in right 6.0in;
            font-size: 12.0pt;
        }

        <!-- /* Style Definitions */

        @@page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.0in 1.0in 1.0in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-title-page: yes;
            mso-header: h1;
            mso-footer: f1;
            mso-first-header: fh1;
            mso-first-footer: ff1;
            mso-paper-source: 0;
        }


        div.Section1 {
            page: Section1;
        }

        table#hrdftrtbl {
            margin: 0in 0in 0in 900in;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }
        -->
    </style>
    <style>
        table {
            width: 100%;
        }

        td {
            vertical-align: top;
        }

        body {
            font-family: Calibri;
            font-size: 11pt;
        }

        .header {
            font-family: Gotham Rounded Bold;
        }

        h3 {
            font-size: 13pt;
            font-weight: bold;
        }

        .pagebreakbefore {
            page-break-before: always;
        }
    </style>
</head>

<body lang=EN-US style='tab-interval:.5in'>

    <div class=Section1>
        @if (Model.MealBox != null)
        {
            @:<table>

            foreach (var mealbox in Model.MealBox)
            {
                dayCount++;

                if (dayCount <= daysToRender)
                {
                    if (dayCount % 2 == 1)
                    {
                        @:<tr>
                    }

                    if (dayCount % 2 == 0)
                    {
                        @:<td>&nbsp;</td>
                    }

                    @:<td style="width: 48%;">

        <div class="pagebreakbefore"><img src="@(Request.Url.Scheme + "://" + Request.Url.Host)/Images/mealbox-day-@(mealbox.MealBoxDay).jpg" /></div>

        <h3>@mealbox.Name</h3>

                    if (!string.IsNullOrEmpty(mealbox.CookingTime))
                    {
                        <div>Tilberedningstid @mealbox.CookingTime</div>
                    }

                    if (mealbox.Ingredients != null)
                    {
                        <br />

                        foreach (var ingredient in mealbox.Ingredients.OrderBy(x => x.SortOrder))
                        {
                            @ingredient.Amount@:
                            @ingredient.Unit@:
                            @ingredient.Name

                            if (!string.IsNullOrEmpty(ingredient.Note))
                            {
                                @:(@ingredient.Note)
                            }
                            <br />
                        }

                        <br />
                    }

                    @Html.Raw(mealbox.Description)

                    @:</td>


                    if (dayCount == daysToRender && daysToRender % 1 == 0)
                    {
                        @:<td></td><td></td>
                    }

                    if (dayCount % 2 == 0)
                    {
                        @:</tr>
                    }

                }
            }

            @:</table>

            <p>&nbsp;</p>

            <h3>Stykliste</h3>

            if (Model != null && Model.Bom != null)
            {
                for (int i = 0; i < Model.Bom.Count(); i++)
                {
                    var bom = Model.Bom.ElementAt(i);
                
                    @bom.ToString()
                
                    if (i + 1 < Model.Bom.Count())
                    {
                        @Html.Raw(", ")
                    }
                }
            }
        }

        <br />
        <table id='hrdftrtbl' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td>

                    <div style='mso-element:header' id=h1>
                        <p class=MsoHeader></p>
                    </div>

                </td>
                <td>
                    <div style='mso-element:footer' id=f1>

                        @*<p>&nbsp;</p>
                        <p class=MsoFooter>
                            <span style=mso-tab-count:2'></span>
                            Side <span style='mso-field-code: PAGE '><span style='mso-no-proof:yes'></span></span> of <span style='mso-field-code: NUMPAGES '></span>
                        </p>*@

                    </div>



                    <div style='mso-element:header' id=fh1>

                        <p class=MsoHeader>
                            <span lang=EN-US style='mso-ansi-language:EN-US'>
                                <table class="header">
                                    <tr>
                                        <td style="text-align: right; width: 40%">
                                            <div style="font-size: 8pt;">UGE @ViewBag.MealBoxWeekNo</div>
                                            <div style="font-size: 17pt; text-transform: uppercase">@Model.Name</div>
                                            <div style="font-size: 8pt; text-transform: uppercase">@Model.Name2</div>
                                        </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                </table>
                            </span>
                        </p>

                    </div>

                    <div style='mso-element:footer' id=ff1>

                        <p class=MsoFooter><span lang=EN-US style='mso-ansi-language:EN-US'>&nbsp;<o:p></o:p></span></p>

                    </div>

                </td>
            </tr>
        </table>

</body>
</html>