﻿@model Aarstiderne.Recipe.Common.DTO.MealBox.ItemDTO[]
@{
    ViewBag.Title = "Måltidskasse indhold";
}

<div class="container">
    <div class="row">
        <div class="span12">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>

    <hr>

    <div class="row">
        @using (Html.BeginForm("Index", "MealBox", System.Web.Mvc.FormMethod.Post))
        {
            <div class="span3">
                <h5>Måltidskassens navn</h5>
                @Html.DropDownList("MealBoxKey", (System.Web.Mvc.SelectList)ViewBag.MealBoxKeysList, "", new { @class = "input-block-level ng-pristine ng-invalid ng-invalid-required" })
            </div>

            <div class="span2">
                <h5>Uge og år (wwyy)</h5>
                <input name="weekNo" placeholder="wwyy" type="text" class="input-block-level" value="@ViewBag.WeekNo">
            </div>
            <div class="span1">
                <h5>&nbsp;</h5>
                <input type="submit" class="btn btn-primary input-small" value="Søg" />
            </div>
        }

    </div>
    <br />
    <div class="row">
        <div class="span12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Vare nr.</th>
                        <th>Kasse</th>
                        <th>Beskrivelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ItemNo</td>
                                <td>@item.Name</td>
                                <td>@item.Name2</td>
                                <td>
                                    @*@Html.ActionLink("Vis indhold", "Export", new { key = item.MealBoxKey, itemNo = item.ItemNo, weekNo = ViewBag.WeekNo }, new { @class = "btn pull-right btn-info btn-mini", target = "_blank" })*@
                                    @Html.ActionLink("Download", "ExportWord", new { key = item.MealBoxKey, itemNo = item.ItemNo, weekNo = ViewBag.WeekNo }, new { @class = "btn pull-right btn-info btn-mini savetodisk", data_filename = ViewBag.WeekNo + " - " + item.Name + ", " + item.Name2 + ".doc" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<script>
    
    $(function () {
        $('.savetodisk').click(function(e) {
            e.preventDefault();

            var url = $(this).attr('href');
            var filename = $(this).attr('data-filename');

            SaveToDisk(url, filename);
        });
    });

    function SaveToDisk(fileURL, fileName) {
        // for non-IE
        if (!window.ActiveXObject) {
            var save = document.createElement('a');
            save.href = fileURL;
            save.target = '_blank';
            save.download = fileName || 'unknown';

            var event = document.createEvent('Event');
            event.initEvent('click', true, true);
            save.dispatchEvent(event);
            (window.URL || window.webkitURL).revokeObjectURL(save.href);
        }

        // for IE
        else if (!!window.ActiveXObject && document.execCommand) {
            var _window = window.open(fileURL, '_blank');
            _window.document.close();
            _window.document.execCommand('SaveAs', true, fileName || fileURL);
            _window.close();
        }
    }
</script>