﻿@model System.Collections.Generic.IEnumerable<Aarstiderne.Recipe.Common.DTO.Type.TypeDTO>
    @{
        ViewBag.Title = "Opsætning af typer";
    }
    <div class="container">
        <div>
            <div class="row">
                <div class="span12">
                    <h3>@ViewBag.Title</h3>
                    <!-- Vælg søgning -->
                    <div class="btn-group js-types-viewstate" data-toggle="buttons-radio">
                        <button type="button" class="btn active" data-viewstate="search">Søg</button>
                        <button type="button" class="btn" data-viewstate="add">Tilføj</button>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row js-types-view visible" data-view="search">
                @using (Html.BeginForm())
                {
                    <div>
                        <div class="span4">
                            <h5>Vælg type</h5>
                            <select name="type" class="input-block-level ng-pristine ng-invalid ng-invalid-required">
                                <option value="0"></option>
                                <option value="1" selected="@ViewBag.TypeNo.Equals("1")">Ingredienser</option>
                                <option value="2" selected="@ViewBag.TypeNo.Equals("2")">Bøger</option>
                                <option value="3" selected="@ViewBag.TypeNo.Equals("3")">Enheder</option>
                                <option value="4" selected="@ViewBag.TypeNo.Equals("4")">Kategorier</option>
                                <option value="5" selected="@ViewBag.TypeNo.Equals("5")">Tags</option>
                            </select>
                        </div>

                        <div class="span4">
                            <h5>Søg</h5>
                            @Html.TextBox("searchText", (string)@ViewBag.SearchText, new { @class = "input-block-level", @placeholder = "Indtast dit søgeord og tryk søg" })
                        </div>

                        <div class="span4">
                            <h5>&nbsp;</h5>
                            <button type="submit" class="btn btn-primary input-small">Søg</button>
                        </div>
                    </div>
                }

                <!-- results -->
                @if (Model != null)
                {
                    <div class="span12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Navn</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.TypeDescription</td>
                                        <td>
                                            <input name="name" type="text" value="@item.Name" disabled="disabled" class="input-xxlarge" />
                                            @Html.ActionLink("Slet", "Delete", new { id = item.Id, type = (int)item.ItemType }, new { @class = "js-types-delete btn pull-right btn-danger btn-mini" })
                                            <a class="js-types-edit btn pull-right btn-info btn-mini visible">Redigér</a>
                                            @Html.ActionLink("Gem", "Update", "Type", new { id = item.Id, type = (int)item.ItemType }, new { @class = "js-types-update btn pull-right btn-success btn-mini" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>

            <!-- Create form -->
            <div class="row js-types-view" data-view="add">
                <div class="span4">
                    <h5>Vælg type</h5>
                    <select class="js-types-create-type input-block-level">
                        <option value="1">Ingredienser</option>
                        <option value="2">Bøger</option>
                        <option value="3">Enheder</option>
                        <option value="4">Kategorier</option>
                        <option value="5">Tags</option>
                    </select>
                </div>

                <div class="span4">
                    <h5>Navn</h5>
                    <input id="create-name" placeholder="Skriv navnet på typen" type="text" class="js-types-create-name input-block-level">
                </div>

                <div class="span4">
                    <h5>&nbsp;</h5>
                    @Html.ActionLink("Tilføj", "Create", "Type", new { @class = "js-types-create btn btn-primary input-small" })
                </div>
            </div>
        </div>

    </div>
