﻿@model Aarstiderne.Recipe.Common.DTO.UserImages.UserImageDTO[]
@{
    ViewBag.Title = "Godkend brugerbilleder";
}

<div class="container">
    <div>
        <div class="row">
            <div class="span12">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>

        <hr>

        <div class="row">
            <!-- Result -->
            @if (Model != null)
            {
            <div class="span12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Billede</th>
                            <th>Opskrift</th>
                            <th>Tilføjet</th>
                            <th>Kundenr</th>
                            <th>Måltidskasse</th>
                            <th>Uge og år</th>
                            <th></th>
                            <th class="button-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><img src="/images/user/@item.MediaId.ToString("N")-200-200" /></td>
                            <td>@item.RecipeName</td>
                            <td>@(item.Created.HasValue ? item.Created.Value.ToString("F") : "")</td>
                            <td>@item.CustomerNo</td>
                            <td>@item.MealBoxKey</td>
                            <td>@item.WeekNo</td>
                            <td>@Html.ActionLink("Godkend", "Approve", new { mediaid = item.MediaId }, new { @class = "btn-small pull-right btn-success js-userimages-approve" })</td>
                            <td>@Html.ActionLink("Slet", "Delete", new { mediaid = item.MediaId, itemid = item.RecipeId }, new { @class = "btn-small pull-right btn-danger js-userimages-delete" })</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>
</div>