﻿@model Aarstiderne.Recipe.Common.DTO.UserImages.UserImageDTO[]
@{
    ViewBag.Title = "Vis alle brugerbilleder";
}

<div class="container">
    <div>
        <div class="row">
            <div class="span12">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>

        <hr>

        <div class="row">
            @using (Html.BeginForm())
            {
            <div class="span4">
                <h5>Fritekst</h5>
                <input name="text" placeholder="Indtast dit søgeord og tryk søg" type="text" class="input-block-level" value="@ViewBag.SearchText">
            </div>
            <div class="span4">
                <h5>Måltidskassens navn</h5>
                @Html.DropDownList("mealboxname", (System.Web.Mvc.SelectList)ViewBag.MealBoxKeysList, "", new { @class = "input-block-level ng-pristine ng-invalid ng-invalid-required" })
            </div>

            <div class="span2">
                <h5>Uge og år (wwyy)</h5>
                <input name="wwyy" placeholder="wwyy" type="text" class="input-block-level" value="@ViewBag.SearchWWYY">
            </div>
            <div class="span2">
                <h5>&nbsp;</h5>
                <input type="submit" class="btn input-block-level btn-primary input-small" value="Søg" />
            </div>
            }

            <!-- Result -->
            @if (Model != null)
            {
            <div class="span12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Billede</th>
                            <th>Opskrift</th>
                            <th>Tilføjet</th>
                            <th>Kundenr</th>
                            <th>Måltidskasse</th>
                            <th>Uge og år</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><img src="/images/user/@item.MediaId.ToString("N")-200-200" /></td>
                            <td>@item.RecipeName</td>
                            <td>@(item.Created.HasValue ? item.Created.Value.ToString("F") : "")</td>
                            <td>@item.CustomerNo</td>
                            <td>@item.MealBoxKey</td>
                            <td>@item.WeekNo</td>
                            <td>
                                @Html.ActionLink("Slet", "Delete", new { mediaid = item.MediaId, itemid = item.RecipeId }, new { @class = "btn pull-right btn-danger" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>

        <script type="text/ng-template" id="ImageModal.html">
            <div class="modal-header">
                <h4>Opskriftens navn</h4>
            </div>
            <div class="modal-body">
                <img src="/images/02145de1.user-image.jpg">
            </div>
            <div class="modal-footer">
                <a class="btn pull-right">Luk</a>
            </div>
        </script>

    </div>
</div>