﻿@model Aarstiderne.Recipe.Common.DTO.Recipe.EditRecipeDTO
@{
    var existing = Model.Id != System.Guid.Empty;
    ViewBag.Title = existing ? "Ret opskrift" : "Opret opskrift";
    ViewBag.SaveButtonText = "Gem opskrift";
}

@using (Html.BeginForm("Edit", "Recipe", System.Web.Mvc.FormMethod.Post, new { @class = "recipe", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "error" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UrlName)

    <div class="container recipe createedit">
        <div class="row">
            <div class="span12">
                <h3>@ViewBag.Title</h3>
                <input type="submit" class="btn btn-primary js-recipe-save" value="@ViewBag.SaveButtonText" />
                @Html.ActionLink("Gem og opdater varianter", "UpdateVariants", new { url = Model.UrlName }, new { @class = "btn btn-warning js-update-variants" })
                @Html.ActionLink("Duplikér", "Duplicate", new { url = Model.UrlName }, new { @class = "btn btn-warning js-duplicate-recipe" })
                <a class="btn btn-info js-overview-toggle">Vis ingrediensoversigten (ctrl + q)</a>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="span6">
                <h5>Opskriften</h5>
                <label>Opskriftens titel</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "input-block-level", required = "required", tabindex = 1 })
                <label>Fremgangsmåde</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "input-block-level image", rows = "20", tabindex = 2 })
                <div class="chars-left"></div>
                @if (Model.Updated.HasValue)
                {
                    <p><br /><small>Sidst rettet @Model.Updated.Value.ToString("dddd, dd MMMM yyyy HH:mm")</small></p>
                }
            </div>

            <div class="span3">
                <h5>Ingredienser</h5>
                <label>Vælg ingrediens <a href="#" class="js-recipe-ingredients-showall">Vis alle</a> <small>(<a href="/type" target="_blank">Mangler ingrediensen?</a>)</small></label>
                <input placeholder="Ingrediens" type="text" class="input-block-level js-recipe-ingredients-search" tabindex="300">

                <div class="row">
                    <div class="span1">
                        <label>Mængde</label>
                        <input placeholder="Mængde" type="text" class="input-block-level js-recipe-ingredients-amount" tabindex="301">
                    </div>
                    <div class="span2">
                        <label>Enhed <small>(<a href="/type" target="_blank">Mangler enheden?</a>)</small></label>
                        <input placeholder="Enhed" type="text" class="input-block-level js-recipe-ingredients-unit" tabindex="302">
                    </div>
                </div>

                <label>Ingrediensnote (max 50 tegn)</label>
                <input placeholder="Note" type="text" class="input-block-level js-recipe-ingredients-note" tabindex="303">

                <input type="button" class="btn btn-inverse js-recipe-ingredients-add" value="Tilføj" tabindex="304">
                <hr>

                <table class="table table-striped table-condensed js-recipe-ingredients-list">
                    <thead>
                        <tr>
                            <th colspan="3">Ingrediensliste</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ui-sortable="" class="ui-sortable">
                        @if (Model.Ingredients != null)
                        {
                            for (int i = 0; i < Model.Ingredients.Count(); i++)
                            {
                                <tr class="ingredient">
                                    <td colspan="3">
                                        @Html.Hidden("Ingredients[" + i + "].Id", Model.Ingredients.ElementAt(i).Id)
                                        @Html.Hidden("Ingredients[" + i + "].RecipeIngredientId", Model.Ingredients.ElementAt(i).RecipeIngredientId)
                                        @Html.Hidden("Ingredients[" + i + "].Name", Model.Ingredients.ElementAt(i).Name)
                                        @Html.Hidden("Ingredients[" + i + "].Amount", Model.Ingredients.ElementAt(i).Amount)
                                        @Html.Hidden("Ingredients[" + i + "].Unit", Model.Ingredients.ElementAt(i).Unit)
                                        @Html.Hidden("Ingredients[" + i + "].Note", Model.Ingredients.ElementAt(i).Note)
                                        @Html.Hidden("Ingredients[" + i + "].Excluded", Model.Ingredients.ElementAt(i).Excluded)

                                        <span class="amount">@Model.Ingredients.ElementAt(i).Amount</span>
                                        <span class="unit">@Model.Ingredients.ElementAt(i).Unit</span>
                                        <span class="ingredient">@Model.Ingredients.ElementAt(i).Name</span>
                                        @if (@Model.Ingredients.ElementAt(i).Note != null)
                                        {
                                            <span class="note">(@Model.Ingredients.ElementAt(i).Note)</span>
                                        }
                                        else
                                        {
                                            <span class="note"></span>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn center pull-right btn-info btn-mini js-ingredient-edit">?</a>
                                        <a class="btn center pull-right btn-info btn-mini js-delete" style="display: none;">x</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>

            <div class="span3">
                <h5>Måltidskasseopskrift</h5>

                <label class="checkbox">
                    Opskrift til måltidskasse?
                    @Html.CheckBox("ismealbox", Model.MealBoxKey != null, new { @class = "js-recipe-mealbox-toggle", tabindex = 310 })
                </label>

                <div class="js-recipe-mealbox-wrapper">
                    <label>Uge og år (wwyy)</label>
                    <input name="mealboxweekno" placeholder="wwyy" type="text" class="input-block-level" value="@Model.MealBoxWeekNo" maxlength="4" tabindex="311">

                    <label>Måltidskassens navn</label>
                    @Html.DropDownList("mealboxkey", (System.Web.Mvc.SelectList)ViewBag.MealBoxKeysList, "", new { @class = "input-block-level ng-pristine ng-valid", tabindex = 312 })

                    <label>Variant</label>
                    <select name="itemno" id="itemno" class="input-block-level" tabindex="313">
                        @if (ViewBag.MealBoxVariants != null)
                        {
                            foreach (var item in ViewBag.MealBoxVariants)
                            {
                                <option value="@item.Value" selected="@(item.Value == Model.ItemNo)">@item.Text</option>
                            }
                        }
                    </select>

                    <label>Dag</label>
                    <select name="MealBoxDay" class="input-block-level" tabindex="314">
                        <option value="0"></option>
                        <option value="1" selected="@Model.MealBoxDay.Equals(1)">Dag 1</option>
                        <option value="2" selected="@Model.MealBoxDay.Equals(2)">Dag 2</option>
                        <option value="3" selected="@Model.MealBoxDay.Equals(3)">Dag 3</option>
                        <option value="4" selected="@Model.MealBoxDay.Equals(4)">Dag 4</option>
                        <option value="5" selected="@Model.MealBoxDay.Equals(5)">Dag 5</option>
                    </select>
                </div>

                <hr>

                <h5>Andre informationer</h5>

                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.Draft, new { tabindex = 360 })
                    Opskriften skal ikke indgå i søgeresultater
                </label>

                <label>Status</label>
                @Html.DropDownList("State", (System.Web.Mvc.SelectList)ViewBag.StateList, new { @class = "input-block-level", tabindex = 355 })

                <label>Tilberedningstid i minutter</label>
                @Html.TextBoxFor(model => model.CookingTime, new { @class = "input-block-level", tabindex = 320 })


                <label>Antal personer</label>
                @Html.TextBoxFor(model => model.Persons, new { @class = "input-block-level js-recipe-persons-input", tabindex = 330 })


                <label>Kategori <small>(<a href="/type" target="_blank">Mangler kategorien?</a>)</small></label>
                <select name="Category" class="input-block-level" tabindex="340">
                    <option value="">-- Vælg kategori --</option>

                    @foreach (var item in ViewBag.CategoryList)
                    {
                        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                    }
                </select>

                <label>Kogebog <small>(<a href="/type" target="_blank">Mangler kogebogen?</a>)</small></label>
                <select name="Book" class="input-block-level" tabindex="350">
                    <option value="">-- Vælg kogebog --</option>

                    @foreach (var item in ViewBag.BookList)
                    {
                        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                    }
                </select>

                <hr>
                <h5>Tags</h5>
                <label>Angiv tags <small>(<a href="/type" target="_blank">Mangler tagget?</a>)</small></label>
                <input placeholder="Tag" type="text" class="input-block-level js-recipe-tag-input" tabindex="370">
                <input type="button" class="btn btn-inverse js-recipe-tag-add" value="Tilføj" tabindex="371">

                <hr>
                <table class="js-recipe-tags-list table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Tagliste</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Tags != null)
                        {
                            for (int i = 0; i < Model.Tags.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.Tags.ElementAt(i).Name</td>
                                    <td>
                                        @Html.Hidden("Tags[" + i + "].Id", Model.Tags.ElementAt(i).Id)
                                        @Html.Hidden("Tags[" + i + "].Name", Model.Tags.ElementAt(i).Name)
                                        <a class="btn center pull-right btn-danger btn-mini js-remove">X</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="span6">
                <h5>Upload billede</h5>
                <div class="row">
                    <div class="span4 wFileUpload">
                        <input type="file" name="file" id="file" class="span3 js-recipe-fileupload" accept="image/x-png, image/gif, image/jpeg" tabindex="380" />
                    </div>
                </div>
            </div>

            <div class="span6">
                <img src="/images/recipe/@Model.Id.ToString("N")-570-300" class="js-recipe-image" />
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <input type="submit" class="btn btn-primary js-recipe-save" value="@ViewBag.SaveButtonText" tabindex="390" />
            </div>
        </div>

    </div>
}