﻿@using Aarstiderne.Recipe.Common.Resources
@model Aarstiderne.Recipe.Common.DTO.Recipe.SearchRecipeDTO[]
@{
    ViewBag.Title = "Søg i opskrifter";
}

<div class="container">

    <div class="row">
        <div class="span12">
            <h3>@ViewBag.Title</h3>
            <!-- Vælg søgning -->
            <div class="btn-group">
                @Html.ActionLink("Måltidskasseopskrifter", "MealBoxSearch", null, new { @class = "btn ng-pristine ng-valid" })
                @Html.ActionLink("Opskrifter", "SimpleSearch", null, new { @class = "btn ng-pristine ng-valid" })
                @Html.ActionLink("Log", "Log", null, new { @class = "btn ng-pristine ng-valid active" })
            </div>
        </div>
    </div>

    <hr>

    <!-- Simple Search -->
    <div class="row">

        <!-- Search Result -->
        @if (Model != null)
        {
            <div class="span12">
                <table class="table table-striped table-hover stupidtable">
                    <thead>
                        <tr>
                            <th data-sort="string">Titel</th>
                            <th data-sort="string">Måltidskasse</th>
                            <th data-sort="string">Status</th>
                            <th data-sort="string">Opdateret</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Key</td>
                                <td>@Resource.ResourceManager.GetString("State" + item.State)</td>
                                <td>@item.Updated.ToString()</td>
                                <td>
                                    @Html.ActionLink("Slet", "Delete", new { url = item.UrlName }, new { @class = "btn pull-right btn-danger btn-mini js-recipe-delete" })
                                    @Html.ActionLink("Redigér", "Edit", new { url = item.UrlName }, new { @class = "btn pull-right btn-info btn-mini js-recipe-edit" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>