﻿@model Aarstiderne.Recipe.Common.DTO.Recipe.MealBoxSearchRecipeDTO[]
@{
    ViewBag.Title = "Søg i opskrifter";
    ViewBag.TitleOnly = false;
}

<div class="container">

    <div class="row">
        <div class="span12">
            <h3>@ViewBag.Title</h3>
            <!-- Vælg søgning -->
            <div class="btn-group">
                @Html.ActionLink("Måltidskasseopskrifter", "MealBoxSearch", null, new { @class = "btn ng-pristine ng-valid active" })
                @Html.ActionLink("Opskrifter", "SimpleSearch", null, new { @class = "btn ng-pristine ng-valid" })
                @Html.ActionLink("Log", "Log", null, new { @class = "btn ng-pristine ng-valid" })
            </div>
        </div>
    </div>

    <hr>

    <!-- MealBox Search -->
    <div class="row">
        @using (Html.BeginForm("MealBoxSearch", "Recipe", System.Web.Mvc.FormMethod.Post))
        {
            <div class="span2">
                <h5>Fritekst</h5>
                <input name="searchText" placeholder="Indtast dit søgeord og tryk søg" type="text" class="input-block-level" value="@ViewBag.SearchText">
            </div>

            <div class="span2">
                <h5>Måltidskassens navn</h5>
                @Html.DropDownList("mealboxname", (System.Web.Mvc.SelectList)ViewBag.MealBoxKeysList, "", new { @class = "input-block-level ng-pristine ng-invalid ng-invalid-required" })
            </div>

            <div class="span2">
                <h5>Uge og år (wwyy)</h5>
                <input name="weekNo" placeholder="wwyy" type="text" class="input-block-level" value="@ViewBag.WeekNo">
            </div>
            
            <div class="span2">
                <h5>Status</h5>
                @Html.DropDownList("State", (System.Web.Mvc.SelectList)ViewBag.StateList, new { @class = "input-block-level ng-pristine ng-invalid ng-invalid-required" })
            </div>
            
            <div class="span3">
                <h5>Ufærdige måltidskasser</h5>
                <label class="checkbox">
                    Vis måltidskasser kun med titel
                    @Html.CheckBox("titleonly", (bool)ViewBag.TitleOnly, new { @class = "ng-pristine ng-valid" })
                </label>
            </div>
            
            <div class="span1">
                <h5>&nbsp;</h5>
                <input type="submit" class="btn btn-primary input-small" value="Søg" />
            </div>
        }

        <!-- MealBox Search Result -->
        @if (Model != null)
        {
            <div class="span12">
                <table class="table table-striped table-hover stupidtable">
                    <thead>
                        <tr>
                            <th data-sort="string">Kasse</th>
                            <th data-sort="int">Uge/år</th>
                            <th data-sort="int">Dag</th>
                            <th data-sort="string">Titel</th>
                            <th data-sort="string">Indgår i søgeresultater</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Key @item.MealBoxVariant</td>
                                <td>@item.WeekNo</td>
                                <td>@item.Day</td>
                                <td>@item.Name</td>
                                <td>@Html.LocalizeBoolean(item.Draft, "da")</td>
                                <td>
                                    @Html.ActionLink("Slet", "Delete", new { url = item.UrlName }, new { @class = "btn pull-right btn-danger btn-mini js-recipe-delete" })
                                    @Html.ActionLink("Redigér", "Edit", new { url = item.UrlName }, new { @class = "btn pull-right btn-info btn-mini" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>