﻿@{
    ViewBag.Title = "Opret titler";
    ViewBag.SaveButtonText = "Opret opskrifter";
}

@using (Html.BeginForm("QuickCreate", "Recipe", System.Web.Mvc.FormMethod.Post, new { @class = "recipe", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "error" })
    
    <div class="container recipe">
        <div class="row">
            <div class="span12">
                <h3>@ViewBag.Title</h3>
                <input type="submit" class="btn btn-primary js-recipe-save" value="@ViewBag.SaveButtonText" />
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="span8">
                <h5>Titler</h5>
                <label>Dag 1</label>
                <input type="text" name="TitleDay1" class="input-block-level" tabindex="1" />

                <label>Dag 2</label>
                <input type="text" name="TitleDay2" class="input-block-level" tabindex="2" />

                <label>Dag 3</label>
                <input type="text" name="TitleDay3" class="input-block-level" tabindex="3" />

                <label>Dag 4</label>
                <input type="text" name="TitleDay4" class="input-block-level" tabindex="4" />

                <label>Dag 5</label>
                <input type="text" name="TitleDay5" class="input-block-level" tabindex="5" />
            </div>

            <div class="span3">
                <h5>Måltidskasse</h5>

                <div>
                    <label>Uge og år (wwyy)</label>
                    <input name="mealboxweekno" placeholder="wwyy" type="text" class="input-block-level" value="", tabindex="6">

                    <label>Måltidskassens navn</label>
                    @Html.DropDownList("mealboxkey", (System.Web.Mvc.SelectList)ViewBag.MealBoxKeysList, "", new { @class = "input-block-level ng-pristine ng-valid", tabindex = 7 })

                </div>

            </div>

        </div>
        <hr />
        <div class="row">
            <div class="span12">
                <input type="submit" class="btn btn-primary js-recipe-save" value="@ViewBag.SaveButtonText" tabindex="8" />
            </div>
        </div>

    </div>
}