﻿@model Aarstiderne.Recipe.Common.DTO.Recipe.SearchRecipeDTO[]
@{
    ViewBag.Title = "Søg i opskrifter";
}

<div class="container">

    <div class="row">
        <div class="span12">
            <h3>@ViewBag.Title</h3>
            <!-- Vælg søgning -->
            <div class="btn-group">
                @Html.ActionLink("Måltidskasseopskrifter", "MealBoxSearch", null, new { @class = "btn ng-pristine ng-valid" })
                @Html.ActionLink("Opskrifter", "SimpleSearch", null, new { @class = "btn ng-pristine ng-valid active" })
                @Html.ActionLink("Log", "Log", null, new { @class = "btn ng-pristine ng-valid" })
            </div>
        </div>
    </div>

    <hr>

    <!-- Simple Search -->
    <div class="row">
        @using (Html.BeginForm("SimpleSearch", "Recipe", FormMethod.Post))
        {
            <div class="span4">
                <h5>Fritekst</h5>
                <input name="searchText" placeholder="Indtast dit søgeord og tryk søg" type="text" class="input-block-level" value="@ViewBag.SearchText">
            </div>
            
            <div class="span2">
                <h5>Status</h5>
                @Html.DropDownList("State", (System.Web.Mvc.SelectList)ViewBag.StateList, new { @class = "input-block-level" })
            </div>
            
            <div class="span4">
                <h5>&nbsp;</h5>
                <input type="submit" class="btn btn-primary input-small" value="Søg" />
            </div>
        }

        <!-- Simple Search Result -->
        @if (Model != null)
        {
            <div class="span12">
                <table class="table table-striped table-hover stupidtable">
                    <thead>
                        <tr>
                            <th data-sort="string">Titel</th>
                            <th data-sort="string">Kogebog</th>
                            <th data-sort="string">Indgår i søgeresultater</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Book</td>
                                <td>@Html.LocalizeBoolean(item.IsDraft, "da")</td>
                                <td>
                                    @Html.ActionLink("Slet", "Delete", new { url = item.UrlName }, new { @class = "btn pull-right btn-danger btn-mini js-recipe-delete" })
                                    @Html.ActionLink("Redigér", "Edit", new { url = item.UrlName }, new { @class = "btn pull-right btn-info btn-mini js-recipe-edit" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>