﻿@model Aarstiderne.Recipe.Common.DTO.Tip.TipDTO
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Opret / rediger tip";
    ViewBag.SaveButtonText = "Gem tip";
}

<script>
    
    $(function () {
        tipAddToList();
    });
    
    function tipAddToList() {
        //special add for season
        $(document).on('click', '.js-recipe-tip-add', function (e) {
            e.preventDefault();

            //helper: generate list row
            function generateListRow(id, name, amount, unit, note) {
                return '<tr class="ingredient"><td colspan="3"><input name="Ingredients[0].RecipeIngredientId" type="hidden" value="00000000-0000-0000-0000-000000000000"><input name="Ingredients[0].Id" type="hidden" value="' + id + '"><input name="Ingredients[0].Name" type="hidden" value="' + name + '"><input name="Ingredients[0].Amount" type="hidden" value="' + amount + '"><input name="Ingredients[0].Unit" type="hidden" value="' + unit + '"><input name="Ingredients[0].Note" type="hidden" value="' + note + '"><span class="amount">' + amount + '</span> <span class="unit">' + unit + '</span> <span class="ingredient">' + name + '</span><span class="note">' + note + '</span></td><td><a class="btn center pull-right btn-danger btn-mini js-remove">X</a></td></tr>'
            }

            //variables
            //var $id, $name, $amount, $unit, $note, $listRowWrapper;

            //set input
            //$name = $('.js-recipe-ingredients-search');
            //$amount = $('.js-recipe-ingredients-amount');
            //$unit = $('.js-recipe-ingredients-unit');
            //$note = $('.js-recipe-ingredients-note');

            //set value
            //idVal = $name.attr('data-id');
            //nameVal = $name.val();
            //amountVal = $amount.val();
            //unitVal = $unit.val();
            //noteVal = $note.val();

            //generate html for row
            //listRow = generateListRow(idVal, nameVal, amountVal, unitVal, noteVal);

            //set the wrapper
            //$listRowWrapper = $('.js-recipe-ingredients-list').find('tbody');

            //add the list row to the wrapper if value is not empty
            //if (!(nameVal === '')) {
            //    $listRowWrapper.append(listRow);

            //    //clear the input
            //    $name.val('');
            //    $amount.val('');
            //    $unit.val('');
            //    $note.val('');
            //    $name.attr('data-value-set', false);
            //    $unit.attr('data-value-set', 0);

            //    //focus on name
            //    $name.focus();
            //}

            //realign hidden lists
            //r.common.realignHiddenList('.Id');
            //r.common.realignHiddenList('.Name');
            //r.common.realignHiddenList('.Unit');
            //r.common.realignHiddenList('.Amount');
            //r.common.realignHiddenList('.Note');
            //r.common.realignHiddenList('.RecipeIngredientId');
        });

        //removes list items from list
        //$(document).on('click', '.js-recipe-ingredients-list .js-remove', function (e) {
        //    e.preventDefault();
        //    r.common.removeFromList($(this));
        //    r.common.realignHiddenList('.Id');
        //    r.common.realignHiddenList('.Name');
        //    r.common.realignHiddenList('.Unit');
        //    r.common.realignHiddenList('.Amount');
        //    r.common.realignHiddenList('.Note');
        //    r.common.realignHiddenList('.RecipeIngredientId');
        //});

        //bind enter key
        //$(document).on('keypress', '.js-recipe-ingredients-search, .js-recipe-ingredients-amount, .js-recipe-ingredients-unit, .js-recipe-ingredients-note', function (e) {
        //    if (e.keyCode === 13) {
        //        e.preventDefault();
        //        //check is value = set on ingredients
        //        if ($('.js-recipe-ingredients-search').attr('data-value-set') === 'true') {
        //            //check if value set or empty at units
        //            if ($('.js-recipe-ingredients-unit').attr('data-value-set') === 'true' || $('.js-recipe-ingredients-unit').attr('data-value-set') === '0') {
        //                $('.js-recipe-ingredients-add').click();
        //            }
        //        }
        //    }
        //});
    }
</script>

@using (Html.BeginForm("Edit", "Tip", System.Web.Mvc.FormMethod.Post, new { @class = "tip", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "error" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UrlName)

    <div class="container tip createedit">
        <div class="row">
            <div class="span12">
                <h3>@ViewBag.Title</h3>
                <input type="submit" class="btn btn-primary js-tip-save" value="@ViewBag.SaveButtonText" />
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="span6">
                <h5>Tip</h5>
                <label>Titel</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "input-block-level", required = "required" })
                <label>Tekst</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "input-block-level textarea", rows = "20" })
            </div>

            <div class="span3">
                <h5>Information</h5>
                <label>Uge og år</label>
                <input type="text" placeholder="wwyy" class="input-block-level js-tip-week-input" maxlength="4" />
                @Html.DropDownList("mealboxkey", (System.Web.Mvc.SelectList)ViewBag.MealBoxKeysList, "", new { @class = "input-block-level", tabindex = 312 })
                <input type="button" class="btn btn-inverse js-tip-week-add" value="Tilføj">
                <hr>
                <table class="js-tip-week-list table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Uge og år</th>
                            <th>Måltidskassefamilie</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Settings != null)
                        {
                            for (int i = 0; i < Model.Settings.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.Settings.ElementAt(i).WeekYear</td>
                                    <td>@Model.Settings.ElementAt(i).MealBoxKey</td>
                                    <td>
                                        @Html.Hidden("Tags[" + i + "].WeekYear", Model.Settings.ElementAt(i).WeekYear)
                                        @Html.Hidden("Tags[" + i + "].MealBoxKey", Model.Settings.ElementAt(i).MealBoxKey)
                                        <a class="btn center pull-right btn-danger btn-mini js-remove">X</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                
                
                <hr>
                <h5>Tags</h5>
                <label>Angiv tags <small>(<a href="/type" target="_blank">Mangler tagget?</a>)</small></label>
                <input placeholder="Tag" type="text" class="input-block-level js-tip-tag-input">
                <input type="button" class="btn btn-inverse js-tip-tag-add" value="Tilføj">

                <hr>
                <table class="js-tip-tags-list table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Tagliste</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Tags != null)
                        {
                            for (int i = 0; i < Model.Tags.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.Tags.ElementAt(i).Name</td>
                                    <td>
                                        @Html.Hidden("Tags[" + i + "].Id", Model.Tags.ElementAt(i).Id)
                                        @Html.Hidden("Tags[" + i + "].Name", Model.Tags.ElementAt(i).Name)
                                        <a class="btn center pull-right btn-danger btn-mini js-remove">X</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="span12">
                <input type="submit" class="btn btn-primary js-tip-save" value="@ViewBag.SaveButtonText" />
            </div>
        </div>

    </div>
}