﻿@model Aarstiderne.Recipe.Common.DTO.Tip.TipDTO[]
@{
    ViewBag.Title = "Søg i tips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <div class="row">
            <div class="span12">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>

        <hr>

        <div class="row">
            @using (Html.BeginForm())
            {
                <div class="span2">
                    <h5>Fritekst</h5>
                    @Html.TextBox("searchText", (string)@ViewBag.SearchText, new { @class = "input-block-level", @placeholder = "Indtast dit søgeord og tryk søg" })
                </div>

                <div class="span2">
                    <h5>Måltidskassens navn</h5>
                    @Html.DropDownList("mealboxname", (System.Web.Mvc.SelectList)ViewBag.MealBoxKeysList, "", new { @class = "input-block-level ng-pristine ng-invalid ng-invalid-required" })
                </div>

                <div class="span2">
                    <h5>Tag</h5>
                    @Html.DropDownList("tag", (System.Web.Mvc.SelectList)ViewBag.TagList, "", new { @class = "input-block-level ng-pristine ng-invalid ng-invalid-required" })
                </div>

                <div class="span2">
                    <h5>Uge og år (wwyy)</h5>
                    <input name="weekNo" placeholder="wwyy" type="text" class="input-block-level" value="@ViewBag.WeekNo">
                </div>

                <div class="span4">
                    <h5>&nbsp;</h5>
                    <button type="submit" class="btn btn-primary input-small">Søg</button>
                </div>
            }

            <!-- Result -->
            @if (Model != null)
            {
                <div class="span12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Måltidskasse</th>
                                <th>Uge/år</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.MealBoxKey</td>
                                    <td>@item.WeekNo</td>
                                    <td>
                                        @Html.ActionLink("Slet", "Delete", new { url = item.UrlName }, new { @class = "js-tip-delete btn pull-right btn-danger btn-mini" })
                                        @Html.ActionLink("Redigér", "Edit", new { url = item.UrlName }, new { @class = "js-tip-edit btn pull-right btn-info btn-mini" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>