@import "bootstrap.less";
@import "bootstrap-responsive.less";
@import "font-awesome.min.less";
@import "froala_editor.min.less";
@import "jquery-ui-1.10.0.custom.less";
@import "snap.less";

/* image upload */
.wFileUpload {
    position: relative;
    height: 30px;
    margin-bottom: 20px;
    &.large-file {
        &:after {
            display: block;
            content: 'Filen er for stor, vælg en anden';
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 10px;
            height: 30px;
            line-height: 30px;
            bottom: -32px;
            color: #b94a48;
            background-color: #f2dede;
            border-color: #eed3d7;
        }
    }
}

/* recipe note */
.note {
    display: block;
    font-size: 12px;
}

/* input fields in tables */
table input {
    margin: 2px 0!important;
}

input[type=text], input[type=password], .ui-autocomplete-input, textarea, .uneditable-input {
    color: black;
}

/* btn padding */
.btn.pull-right {
    margin: 0 3px;
}

/* styling for js-views */
.js-types-view {
    display: none;
    &.visible {
        display: block;
    }
}

.js-types-delete,
.js-types-update,
.js-types-edit {
    display: none;
    &.visible {
        display: block;
    }
}

.js-recipe-ingredients-showall {
    display: none;
}

.js-alert {
    display: none;
    &.active {
        display: block;
    }
}


body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

li.placeholder {
    position: relative;
    margin: 5px 0;
    width: 50%;
    height: 1px;
    background: black;
    list-style-type: none;
}
li.placeholder:before {
    position: absolute;
  /** Define arrowhead **/
}

.js-recipe-ingredients-list td {
    cursor: move !important;
    a {
        cursor: pointer;
    }
}

.js-recipe-mealbox-wrapper {
    padding: 10px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #b94a48;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.stupidtable th {
    cursor: pointer;
}

.js-overview-toggle,
.js-update-variants,
.js-duplicate-recipe {
    display: none;
    &.visible {
        display: inline-block;
    }
}

.ingredient-list-details,
.ingredient-list-bom,
.ingredient-list-days {
    margin-bottom: 20px;
    color: rgb(100,100,100);
    h2 {
        font-size: 16px;
        margin: 0 0 5px;
        line-height: 1.2;
    }
    h3 {
        font-size: 14px;
        margin: 0 0 5px;
        line-height: 1.2;
    }
    h4 {
        margin: 5px 0 5px;
        padding: 5px;
        border-top: 1px solid rgb(100,100,100);
        border-bottom: 1px solid rgb(100,100,100);
        overflow: hidden;
        line-height: 25px;
        a {
            float: right;
        }
    }
    li {
        line-height: 1.4;
    }
}

.ingredient-list-days {
    .day {
        margin-bottom: 10px;
    }
    a {
        display: block;
    }
    ul {
        display: none;
    }
}

/* button column */
.button-column {
    min-width: 50px;
}

.active-submenu {
    a,
    a:hover,
    a:focus {
        color: #555555;
        cursor: default;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }
}

/* hide show menu */
body {
    li.recipe,
    li.encyclopedia,
    li.type,
    li.userimages,
    li.mealbox,
    li.tip {
        display: none;
    }
    &.recipe {

        /* active parent */
        li.recipe.parent {
            font-weight: bold;
        }

        /* submenu */
        li.recipe {
            display: block;
        }
        li.encyclopedia,
        li.type,
        li.userimages,
        li.mealbox {
            display: none;
        }

        /* active submenu */
        &.mealboxsearch {
            li.mealboxsearch {
                .active-submenu();
            }
        }
        &.edit {
            li.edit {
                .active-submenu();
            }
        }
        &.edit-title {
            li.edit-title {
                .active-submenu();
            }
        }

    }
    &.encyclopedia {

        /* active parent */
        li.encyclopedia.parent {
            font-weight: bold;
        }

        /* submenu */
        li.encyclopedia {
            display: block;
        }
        li.recipe,
        li.type,
        li.userimages,
        li.mealbox,
        li.tip {
            display: none;
        }

        /* active submenu */
        &.root {
            li.root {
                .active-submenu();
            }
        }
        &.edit {
            li.edit {
                .active-submenu();
            }
        }

    }
    &.type {

        /* active parent */
        li.type.parent {
            font-weight: bold;
        }

        /* submenu */
        li.type {
            display: block;
        }
        li.recipe,
        li.encyclopedia,
        li.userimages,
        li.mealbox,
        li.tip {
            display: none;
        }

        /* active submenu */
        &.root {
            li.root {
                .active-submenu();
            }
        }

    }
    &.userimages {

        /* active parent */
        li.userimages.parent {
            font-weight: bold;
        }

        /* submenu */
        li.userimages {
            display: block;
        }
        li.recipe,
        li.encyclopedia,
        li.type,
        li.mealbox,
        li.tip {
            display: none;
        }

        /* active submenu */
        &.approve {
            li.approve {
                .active-submenu();
            }
        }
        &.root {
            li.root {
                .active-submenu();
            }
        }

    }

    &.mealbox {

        /* active parent */
        li.mealbox.parent {
            font-weight: bold;
        }

        /* submenu */
        li.mealbox {
            display: block;
        }
        li.recipe,
        li.encyclopedia,
        li.type,
        li.userimages,
        li.tip {
            display: none;
        }

        /* active submenu */
        &.root {
            li.root {
                .active-submenu();
            }
        }

    }

    &.tip {

        /* active parent */
        li.tip.parent {
            font-weight: bold;
        }

        /* submenu */
        li.tip {
            display: block;
        }
        li.recipe,
        li.encyclopedia,
        li.type,
        li.userimages,
        li.mealbox {
            display: none;
        }

        /* active submenu */
        &.root {
            li.root {
                .active-submenu();
            }
        }
        &.edit {
            li.edit {
                .active-submenu();
            }
        }

    }

    li.parent {
        display: block!important;
    }
}






